@import 'position';

.cursor-pointer {
    cursor: pointer;
}
.link-active {
    color: #4a96fa;
}
.font-36 {
    font-size: 36px;
  }
  .font-24 {
    font-size: 24px;
  }
  .font-18 {
    font-size: 18px;
  }
  .font-16 {
    font-size: 16px;
  }
  .fw-bold {
    font-weight: bold;
  }
  
  